<html ng-app="nodeTodo">
  <head>
    <title>Todo App - with Node + Express + Angular + PostgreSQL</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="/stylesheets/style.css" media="screen">
  </head>
  <body ng-controller="mainController">
    <div class="container">
      <div class="header">
        <h1>Todo App</h1>
        <hr>
        <h1 class="lead">Node + Express + Angular + PostgreSQL</h1>
      </div>

      <!-- This is the main form, used to add a TODO -->
      
      <div class="todo-form">
        <form>
          <div class="form-group">

            <!-- The input you've already seen. ng-model is used to link with javascripts/app.js -->
            <input type="text" class="form-control input-lg" placeholder="Enter text..." ng-model="formData.text">
          </div>

          <!-- A buttin you've already seen. ng-click is used to link with javascripts/app.js-->
          <button type="submit" class="btn btn-primary btn-lg btn-block" ng-click="createTodo()">Add Todo</button>
        </form>
      </div>
      <br>

      <!-- This is where we display the todo -->
      <div class="todo-list">

        <!-- A HTML List. ng-repeat means the content will be repeated for each line of data todoData comes from javascripts/app.js-->      
        <ul ng-repeat="todo in todoData">

          <li><h3>
           
            <!-- Raw text. the {{ }} means the content will come from todo, which is a line of todoData, coming from javascripts/app.js -->
            &nbsp;{{ todo.text }}
            </h3></li><hr>
        </ul>
      </div>
    </div>
    <script src="//code.jquery.com/jquery-2.2.4.min.js" type="text/javascript"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.6/angular.min.js"></script>
    <script src="javascripts/app.js"></script>
  </body>
</html>
